---
- name: Restart node_exporter for systemd
  become: true
  ansible.builtin.systemd:
    daemon_reload: true
    name: "prometheus-node-exporter"
    state: restarted

- name: Restart node_exporter for sysvinit
  become: true
  ansible.builtin.sysvinit:
    name: "prometheus-node-exporter"
    state: restarted
