---
- name: Ensure that the node_exporter SysVinit service file exists
  become: true
  ansible.builtin.template:
    src: "prometheus-node-exporter-sysvinit.sh.j2"
    dest: "/etc/init.d/prometheus-node-exporter"
    owner: "root"
    group: "root"
    mode: "0755"
  when: node_exporter_install_from_binary
  notify: sysvinit restart node_exporter

- name: Ensure Node Exporter service is running and enabled on boot
  become: true
  ansible.builtin.sysvinit:
    name: "prometheus-node-exporter"
    enabled: true
    state: started
  when: node_exporter_install_from_binary
